/*CSS ALLMÄNT*/
* {
    margin: 0;
    color: rgb(212, 209, 209);
    font-size: 16px;
}

body{
    background-color: #131212;
    font-family: 'Montserrat', sans-serif;
}

nav{
    font-family: Oswald;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #000000;
    text-align: center;
}

nav div{
    padding-top: 1rem;
    padding-bottom: 0;
}

hr{
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: #2C7B10;
    border: 2px solid;
}

nav div a{
    text-decoration: none;
    font-size: 1.2rem;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: #000;
    text-align: center;
}

i{
    color: #2C7B10;
}

i:hover{
    color: #fff;
}

footer p{
    text-align: center;
    color: #fff;
}

section{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

h1{
    font-size: 2rem;
    text-transform: uppercase;
}
/*SLUT*/


.workSection article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.workSection article a{
    text-decoration: none;
}

.contactSection a{
    color: #2C7B10;
}

form{
    margin-top: 1rem;
}

.form-control{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

input{
    height: 2rem;
}

form .submit{
    background-color: #2C7B10;
    border-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .2rem;
    height: 3rem;
    margin-top: 1.2rem;
    border-radius: 1.5rem;
}

form .submit:hover{
    background-color: rgb(29, 78, 12);
    cursor: pointer;
}